html{
  font-family: Helvetica;
  background-color: #ddd;
}

.container{
  max-width: 1100px;
  position: relative;
  margin: 50px auto;
  background-color: white;
  padding: 20px 50px;
}

.bold{
  font-weight: bold;
}

/* header */

.header{
  font-size: 40px;
}

.main-paragraph{
  font-style: italic;
}

/* Imagem de destaque */

.feature-img{
  text-align: center;
  margin-top: 30px;
  
}

/* Biografia */

.biograph-container{
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #DDD;
  border-bottom: 1px dashed #ddd;
}

/* Quotes */

.quotes-container{
  background-color: #ddd;
  padding: 30px;
  border-width: 5px;
  border-color: black ;
  border-radius: 2px;
}

.quotes-container blockquote{
  font-weight: bold;
  font-size: 30px;
}

.quotes-container p{
  font-style: italic;
}

/* Curiosidades */

.curiosites-container{
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #DDD;
  border-bottom: 1px dashed #ddd;

}

.curiosites-container li{
  height: 100%;
  padding: 5%;

}

/* Img bold */

.img-bold{
  font-weight: bold;
  text-align: center;
}




